{% extends 'base.html' %}

{% block content %}
  <!-- Navbar -->
  <nav class="navbar navbar-light navbar-expand-md bg-light">
    <div class="container-fluid font-monospace">
      <a class="navbar-brand" href="{% url 'movies:index' %}">MOVIDIC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'movies:index' %}">Index</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movies:new' %}">New</a>
          </li>
        </ul>
      </div>
      <form class="d-flex" role="search" action="{% url 'movies:search' %}" method="GET">
        <input class="form-control me-2" type="search" name="title" placeholder="Movie Title" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-- Header -->
  <header class="text-center py-5 mb-4" style="background-image: url('https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1925&q=80')">
    <div class="container">
      <h1 class="fw-light text-start font-monospace text-light">EDIT</h1>
    </div>
  </header>

  <!-- Section-->
  <div class="container">
    <section>
      <form class="row g-3" action="{% url 'movies:update' movie.pk%}" method="POST">
        {% csrf_token %}
        <div class="col-md-4">
          <label for="title" class="form-label font-monospace">TITlE</label>
          <input type="text" class="form-control" name="title" id="title" value="{{movie.title}}" required>
        </div>
        <div class="col-md-2">
          <label for="audience" class="form-label font-monospace">AUDIENCE</label>
          <input type="number" min="0" class="form-control" name="audience" id="audience" value="{{movie.audience}}" required>
        </div>
        <div class="col-md-2">
          <label for="release_date" class="form-label font-monospace">RELEASE_DATE</label>
          <input type="date" name="release_date" id="release_date" class="form-control" value="{{movie.release_date|date:'Y-m-d'}}" required>
        </div>
        <div class="col-md-2">
          <label for="genre" class="form-label font-monospace">GENRE</label>
          <select class="form-select" name="genre" id="genre" required>
            <option value="{{ movie.genre }}">{{ movie.genre }}</option>
            <option value="미스터리">미스터리</option>
            <option value="예술">예술</option>
            <option value="액션">액션</option>
            <option value="공포">공포</option>
            <option value="로맨스">로맨스</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="score" class="form-label font-monospace">SCORE</label>
          <input type="number" min="0" step="0.1" class="form-control" name="score" id="score" value="{{movie.score}}" required>
        </div>
        <div class="col-md-6">
          <label for="poster_url" class="form-label font-monospace">POSTER_URL</label>
          <input type="text" class="form-control" name="poster_url" id="poster_url" value="{{movie.poster_url}}" required>
        </div>
        <div class="col-md-6">
          <label for="trailer_url" class="form-label font-monospace">TRAILER_URL</label>
          <input type="text" class="form-control" name="trailer_url" id="trailer_url" value="{{movie.trailer_url}}" required>
        </div>
        <div class="col-12">
          <label for="description" class="form-label font-monospace">DESCRIPTION</label>
          <textarea class="form-control" name="description" id="description" rows="10" required>{{movie.description}}</textarea>
        </div>
        <div class="col-12">
          <label for="review" class="form-label font-monospace">REVIEW</label>
          <textarea class="form-control" name="review" id="review" rows="10" required>{{movie.review}}</textarea>
        </div>
        <div class="col-12">
          <input class="btn btn-success font-monospace" type="reset" value="Reset">
          <button class="btn btn-primary font-monospace" type="submit">Submit</button>
          <a href="{% url 'movies:detail' movie.pk%}" class="btn btn-secondary" role="button">Back</a>
        </div>
      </form>
    </section>
  </div>
{% endblock content %}